<div id="<%= dom_id todo %>">
  <p>
    <strong>Title:</strong>
    <%= todo.title %>
  </p>

  <p>
    <strong>Body:</strong>
    <%= todo.body %>
  </p>

  <p>
    <strong>Tag:</strong>
    <%= todo.tag %>
  </p>

  <p>
    <strong>Taskid:</strong>
    <%= todo.taskid %>
  </p>

</div>
